.git
**/.git
**/__pycache__
**/*.pyc
**/.pytest_cache
front/node_modules
front/dist
front/dist-lxd
app/media
app/static
app/test_media
app/escriptorium/local_settings.py
*.sqlite3
.venv
venv
.env
variables.env
docker-compose.secrets.yml
**/.DS_Store
